<h1>Sim</h1>
<hr/>
<div>
	<style type="text/css">
		body {
			font-family: sans-serif;
			font-size: 20px;
		}

		.separator {
			color: #777;
		}

		.pause {
			float: right;
		}
	</style>
	<div ng-repeat="box in boxes">
		Drone {{box.name}} <span class="separator">|</span>
		<span>health: {{box.health}}</span> <span class="separator">|</span>
		<span>move: {{box.currentAction.name}}</span>
	</div>

	<div ng-click="togglePause()" 
			class="pause"
			ng-hide="paused">
			pause
	</div>
	<div ng-click="togglePause()" 
			class="pause"
			ng-show="paused">
			unpause
	</div>
	<div id="sim"></div>
</div>